[Unit]
Description=DFS Service
After=yarn.service

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/<%= node['user'] %>/hadoop-2.7.3/sbin/start-dfs.sh
Restart=on-failure
KillMode=process

ProtectSystem=true
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
Alias=HadoopFileSystem.service