#!/bin/bash

case "$1" in 
start)
   su <%= node['user'] %> -c "/home/<%= node['user'] %>/hadoop-2.7.3/sbin/start-dfs.sh" &
   echo $!>/var/run/dfs.pid
   ;;
stop)
   kill `cat /var/run/dfs.pid`
   rm /var/run/dfs.pid
   ;;
restart)
   $0 stop
   $0 start
   ;;
status)
   if [ -e /var/run/dfs.pid ]; then
      echo dfs.sh is running, pid=`cat /var/run/dfs.pid`
   else
      echo dfs.sh is NOT running
      exit 1
   fi
   ;;
*)
   echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0 