[Unit]
Description=YARN Service

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/<%= node['user'] %>/hadoop-2.7.3/sbin/start-yarn.sh
Restart=on-failure
KillMode=process

ProtectSystem=true
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
Alias=YetAnotherResourceNegotiator.service