[Unit]
Description=HiveServer

[Service]
Type=simple

Environment=HADOOP_HOME=<%= @HADOOP_HOME %>
Environment=HIVE_HOME=<%= @HIVE_HOME %>

ExecStart=<%= @HIVE_HOME %>/bin/hiveserver2 start
ExecStop=<%= @HIVE_HOME %>/bin/hiveserver2 stop
User=<%= @HADOOP_USER %>
Group=<%= @HADOOP_USER %>
Restart=on-failure

[Install]
WantedBy=multi-user.target
