<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://namenode:54310</value>
  </property>

  <!-- Hue WebHDFS proxy user setting -->
  <property>
    <name>hadoop.proxyuser.hadoop.hosts</name>
    <value>*</value>
  </property>

  <property>
    <name>hadoop.proxyuser.hadoop.groups</name>
    <value>*</value>
  </property>

  <!-- TODO: extract user from config file -->
  <property>
    <name>hadoop.proxyuser.vagrant.hosts</name>
    <value>*</value>
  </property>

  <property>
    <name>hadoop.proxyuser.vagrant.groups</name>
    <value>*</value>
  </property>
</configuration>
