<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.address</name>
    <value>namenode:10020</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.webapp.address</name>
    <value>namenode:19888</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.intermediate-done-dir</name>
    <value>/hadoop-data/hadoop/job-history/intermediate</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.done-dir</name>
    <value>/hadoop-data/hadoop/job-history/done/</value>
  </property>
</configuration>
