div.options-bar {
  margin-top: 50px;
  display: flex;
  padding: 0 15px;
}

div.options-bar div {
  flex: 1;
  padding: 0 15px;
}

div#products-select-wrapper select {
  width: 100%;
}

div#buckets-slider {
  align-items: center;
  display: inline-flex;
}

div#buckets-slider input {
  margin: 0 15px 0 5px;
  width: 30px;
}

div.charts {
  display: flex;
  max-height: 400px;
  margin-top: 30px;
}

div.chart-box {
  flex: 1;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
}
