<?xml version="1.0"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
            See the License for the specific language governing permissions and
            limitations under the License.
            -->
            <configuration>

                <property>
                  <name>oozie.service.JPAService.jdbc.driver</name>
                  <value>org.postgresql.Driver</value>
                </property>

                <property>
                  <name>oozie.service.JPAService.jdbc.url</name>
                  <value>jdbc:postgresql://localhost:5432/oozie</value>
                </property>

                <property>
                  <name>oozie.service.JPAService.jdbc.username</name>
                  <value>oozie</value>
                </property>

                <property>
                  <name>oozie.service.JPAService.jdbc.password</name>
                  <value>oozie</value>
                </property> 

                <!--
                Refer to the oozie-default.xml file for the complete list of
                Oozie configuration properties and their default values.
                -->

                <!-- Proxyuser Configuration -->

                <property>
                  <name>oozie.service.ProxyUserService.proxyuser.<%=@PROXY_USER%>.hosts</name>
                  <value>*</value>
                </property>

                <property>
                  <name>oozie.service.ProxyUserService.proxyuser.<%=@PROXY_USER%>.groups</name>
                  <value>*</value>
                </property>

                <property>
                  <name>oozie.service.ProxyUserService.proxyuser.hadoop.hosts</name>
                  <value>*</value>
                </property>

                <property>
                  <name>oozie.service.ProxyUserService.proxyuser.hadoop.groups</name>
                  <value>*</value>
                </property>

            </configuration>
